{{define "content"}}
    {{with .Page.Body}}
        <div class="row content">

            {{range .}}

              <div id={{.Heading | ConvertToId}} class="">
                  <h1>
	                     {{.Heading}}
                  </h1>
                  <p>
	                   {{.Content}}
                  </p>
              </div>

              {{end}}

            </div>
    {{end}}
{{end}}
